.body {
    display: flex;
    justify-content: center;
}

.homepage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80vw;
}

.icons-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    background-color: #cfffdb
}

