


.fading-icon-container{
    height: 10px;
    width: 60px;
    /* background-color: red; */
    margin-left:30%;
    margin-bottom: 50px;
    position: relative;


}


.header-img{
    position: absolute;
    height: 360px;
    position: absolute;
    margin: 0;
    top:-90px;
    width: 360px;
    animation: cf4FadeInOut 12s ease-in-out;
    -webkit-animation: cf4FadeInOut 16s ease-in-out;
    
    animation-iteration-count: infinite;
    /* background-color: green; */
}

#header-img1{
    animation-delay: 12s;
    
  
  }
  #header-img2{
    animation-delay: 8s;
  
  }
  #header-img3{
    animation-delay: 4s;
  
  }
  #header-img4{
    animation-delay: 0s;
  
  }
  
  @keyframes cf4FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } 